.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/Users/leon/Desktop/kssk/sushis/public/home01_v2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#hio {
    color: white;
}

.lead {
    color: white;
}